@import 'setup';
@import 'mediaQueries';

.logo
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: $white;
    font-size: 2em;
}

.everything
{
    display: grid;
    max-width: 100vw;
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
    grid-template-rows: 1fr 0.1fr 0.9fr 0.8fr 1fr 0.6fr 0.1fr;
    //grid-gap: 1vw;
    grid-template-areas: 
        "cont1 cont1"
        "heading heading"
        "cont2 cont3"
        "cont4 cont4"
        "cont7 cont8"
        "footer footer"
        "attr attr";
    
    .container1
    { 
        grid-area: cont1;
        background-color: blue;
        max-width: 100vw;
        max-height: 100vh;
        overflow: hidden;
    }

    .heading
    { 
        grid-area: heading;
        max-width: 100vw;
        overflow: hidden;
        max-height: 10vh;
        
        padding: 100px 0;

        h1 
        {
            text-align: center;
            color: $VeryDarkBlue;

            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
            font-size: 1.5em;
        }
    }

    .container2
    { 
        grid-area: cont2;
        max-width: 50vw;
        overflow: hidden;
        max-height: 90vh;
        padding: 100px;

        display: block;
        align-items: center;
        justify-content: center;

        h2 
        {
            text-align: left;
            color: $VeryDarkBlue;
            padding: 10px 0;

            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
            font-size: 1.0em; 
        }

        p 
        {
            text-align: left;
            color: $VeryDarkBlue;
        }
    }

    .container3
    { 
        grid-area: cont3;
        max-width: 50vw;
        overflow: hidden;
        max-height: 90vh;
        overflow: visible;

        img 
        {
            position: relative;
            top: -15vh;
            left: 5vw;
            max-width: 130%;
        }
    }

    .container4
    { 
        grid-area: cont4;
        background-image: linear-gradient(to right, $VeryDarkGrayBlue, $VeryDarkDesaturatedBlue);
        //overflow: auto;
        max-width: 100vw;
        max-height: 80vh;
        margin: 20vh 0;
        border-radius: 0 70px 0 70px;

        section
        {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            max-height: 60vh;
            background-image: url(../images/bg-pattern-circles.svg);
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: -15% 60%;

            .container5 
            {
                //background-color: #d84141;
                max-height: 80vh;
                overflow: visible;

                img 
                {
                    position: relative;
                    top: -10vh;
                    overflow: visible;
                    z-index: 1000000 !important;
                }
            }
    
            .container6
            {
                //background-color: #3f3d3d;
                height: 80vh;
                padding: 100px;
                padding-top: 120px;
                display: inline-block;
                justify-content: center;
                align-items: center;

                h2 
                {
                    text-align: left;
                    color: $white;
                    padding: 10px 0;

                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 500;
                    font-size: 1.0em; 
                }

                p 
                {
                    text-align: left;
                    color: $white;
                }
            }
        }
    }

    .container7
    { 
        grid-area: cont7;
        overflow: visible;
        max-width: 50vw;
        max-height: 100vh;

        position: relative;
        left: -20vw;
    }

    .container8
    { 
        grid-area: cont8;
        overflow: hidden;
        max-width: 50vw;
        max-height: 100vh;
        padding: 0 50px;
        padding-top: 250px;

        h2 
        {
            text-align: left;
            color: $VeryDarkBlue;
            padding: 10px 0;

            font-family: 'Ubuntu', sans-serif;
            font-weight: 500;
            font-size: 1.0em; 
        }

        p 
        {
            text-align: left;
            color: $VeryDarkBlue;
        }
    }

    footer
    { 
        grid-area: footer;
        overflow: hidden;
        max-width: 100vw;
        max-height: 60vh;
        margin-top: 100px;
    }

    .attribution
    {
        grid-area: attr;
        overflow: hidden;
        max-width: 100vw;
        max-height: 10vh;
        padding: 20px;
    }
}

.container1
{
    overflow: hidden;
    max-width: 100vw;

    background-image: linear-gradient(to right, $VeryLightRed, $LightRed);
    border-radius:0 0 0 70px;

    .pattern
    {
        position: relative;
        z-index: 0;
        img 
        {
            z-index: 0 !important;
            width: 210%;
            position: absolute;
            z-index: 0;
    
            top: -150vh;
            left: -30vw;
    
            transform: rotate(0deg);
            overflow: hidden;
        }
    }
    header
    {
        
        padding: 50px 60px;
        //padding: 30px;
        display: flex;
        justify-content: space-between;

        .nav-sec1
        {
            display: flex;
            justify-content: space-between; 
            z-index: 1000 !important;

            .p-dd-content
            {
                padding: 15px 20px;
                margin: 0 15px;
                display: flex;
                flex-direction: column;
               

                button
                {
                    color: $white;
                    border: none;
                    background-color: transparent;

                    &:hover 
                    {
                        text-decoration: underline;
                        cursor: pointer;

                        .links 
                        {
                            opacity: 100% !important;
                        }
                    }
                }

                .links
                {
                    opacity: 0;
                    background-color: white;
                    margin-top: 20px;
                    padding: 15px;
                    border-radius: 10px;

                    font-family: 'Ubuntu';
                    font-weight: 500;

                    li
                    {
                        padding: 5px;
                        background-color: $white;
                        text-decoration: none;
                        color: rgb(14, 14, 14);
                        display: flex;
                        flex-direction: column;
                        font-family: 'Ubuntu';
                        //font-weight: 400;
    
    
                        &:hover
                        {
                            //font-weight: 500;
                            color: black;
                        }
                    }
                }
            }
        }

        .nav-sec2
        {
            z-index: 1000 !important;
            a
            {
                text-decoration: none;
                color: $white;
                border: none;
            }

            #start
            {
                background-color: $white;
                color: $lightRed;

                &:hover
                {
                    color: $white;
                    background-color: $lightRed;   
                }
            }
        }
    }

    main 
    {
        position: relative;
        text-align: center;
        margin-top: 0vh;
        color: $white;
        h1 
        {
            font-size: 4em;
        }

        .main-butns
        {
            margin-top: 50px;
           
            a
            {
                z-index: 1000 !important;
                &:hover
                {
                    color: $lightRed;
                    background-color: $white;
                }
            }

            #start
            {
                &:hover
                {
                    color: $white;
                    background-color: $VeryLightRed;
                    border: solid 1px $VeryLightRed;
                }
            }
        }

        
    }
}

footer 
{
    background-color: $VeryDarkBlackBlue;
    position: relative;
    bottom: 0;
    border-radius: 0 70px 0 0;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 70px 120px;
    font-family: 'Ubuntu';

    h6 
    {
        font-weight: 700;
        margin-bottom: 30px;
    }
    
    ul 
    {
        list-style-type: none;

        li 
        {
            font-weight: 500;
            margin: 10px 0; 
            color: $GrayishBlue;  
            cursor: pointer;

            &:hover 
            {
                text-decoration: underline;
            }
        }
    }
}

.attribution 
{
    background-color: $VeryDarkBlackBlue;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    color: $GrayishBlue;  
    //padding: 20px;

    a 
    {
        border: none;
        //padding: 0;

        &:hover 
        {
            background-color: $VeryDarkBlackBlue;
            color: #ff3300;  
        }
    }
}