* {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  padding: 13px;
  border-radius: 25px;
  margin: 0 10px;
  text-decoration: none;
  font-family: 'Ubuntu';
  font-weight: 500;
  background-color: transparent;
  border: solid 1px white;
  color: white;
}

a:hover {
  color: white;
  background-color: #ff8f70;
  border: solid 1px #ff8f70;
}

#start {
  background-color: white;
  color: #ff525d;
}

#start:hover {
  color: white;
  background-color: #ff8f70;
}

.logo {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 2em;
}

.everything {
  display: -ms-grid;
  display: grid;
  max-width: 100vw;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  overflow-x: hidden;
  -ms-grid-rows: 1fr 0.1fr 0.9fr 0.8fr 1fr 0.6fr 0.1fr;
      grid-template-rows: 1fr 0.1fr 0.9fr 0.8fr 1fr 0.6fr 0.1fr;
      grid-template-areas: "cont1 cont1" "heading heading" "cont2 cont3" "cont4 cont4" "cont7 cont8" "footer footer" "attr attr";
}

.everything .container1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cont1;
  background-color: blue;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.everything .heading {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heading;
  max-width: 100vw;
  overflow: hidden;
  max-height: 10vh;
  padding: 100px 0;
}

.everything .heading h1 {
  text-align: center;
  color: #1f3f5b;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

.everything .container2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: cont2;
  max-width: 50vw;
  overflow: hidden;
  max-height: 90vh;
  padding: 100px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.everything .container2 h2 {
  text-align: left;
  color: #1f3f5b;
  padding: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.0em;
}

.everything .container2 p {
  text-align: left;
  color: #1f3f5b;
}

.everything .container3 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: cont3;
  max-width: 50vw;
  overflow: hidden;
  max-height: 90vh;
  overflow: visible;
}

.everything .container3 img {
  position: relative;
  top: -15vh;
  left: 5vw;
  max-width: 130%;
}

.everything .container4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cont4;
  background-image: -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background-image: linear-gradient(to right, #2c2d3f, #3f4164);
  max-width: 100vw;
  max-height: 80vh;
  margin: 20vh 0;
  border-radius: 0 70px 0 70px;
}

.everything .container4 section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  max-height: 60vh;
  background-image: url(../images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: -15% 60%;
}

.everything .container4 section .container5 {
  max-height: 80vh;
  overflow: visible;
}

.everything .container4 section .container5 img {
  position: relative;
  top: -10vh;
  overflow: visible;
  z-index: 1000000 !important;
}

.everything .container4 section .container6 {
  height: 80vh;
  padding: 100px;
  padding-top: 120px;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.everything .container4 section .container6 h2 {
  text-align: left;
  color: white;
  padding: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.0em;
}

.everything .container4 section .container6 p {
  text-align: left;
  color: white;
}

.everything .container7 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: cont7;
  overflow: visible;
  max-width: 50vw;
  max-height: 100vh;
  position: relative;
  left: -20vw;
}

.everything .container8 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: cont8;
  overflow: hidden;
  max-width: 50vw;
  max-height: 100vh;
  padding: 0 50px;
  padding-top: 250px;
}

.everything .container8 h2 {
  text-align: left;
  color: #1f3f5b;
  padding: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.0em;
}

.everything .container8 p {
  text-align: left;
  color: #1f3f5b;
}

.everything footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  overflow: hidden;
  max-width: 100vw;
  max-height: 60vh;
  margin-top: 100px;
}

.everything .attribution {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: attr;
  overflow: hidden;
  max-width: 100vw;
  max-height: 10vh;
  padding: 20px;
}

.container1 {
  overflow: hidden;
  max-width: 100vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), to(#ff3d54));
  background-image: linear-gradient(to right, #ff8f70, #ff3d54);
  border-radius: 0 0 0 70px;
}

.container1 .pattern {
  position: relative;
  z-index: 0;
}

.container1 .pattern img {
  z-index: 0 !important;
  width: 210%;
  position: absolute;
  z-index: 0;
  top: -150vh;
  left: -30vw;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  overflow: hidden;
}

.container1 header {
  padding: 50px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container1 header .nav-sec1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000 !important;
}

.container1 header .nav-sec1 .p-dd-content {
  margin: 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: static;
}

.container1 header .nav-sec1 .p-dd-content button {
  color: white;
  border: none;
  background-color: transparent;
}

.container1 header .nav-sec1 .p-dd-content button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container1 header .nav-sec1 .p-dd-content button:hover .links {
  opacity: 100% !important;
}

.container1 header .nav-sec1 .p-dd-content .links {
  opacity: 0;
  background-color: white;
  -webkit-box-shadow: 4px 4px 10px #1f1f1f;
          box-shadow: 4px 4px 10px #1f1f1f;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  font-family: 'Ubuntu';
  font-weight: 400;
}

.container1 header .nav-sec1 .p-dd-content .links li {
  padding: 5px;
  background-color: white;
  text-decoration: none;
  color: #0e0e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Ubuntu';
  font-weight: 400;
}

.container1 header .nav-sec1 .p-dd-content .links li:hover {
  font-weight: 420;
  color: black;
  cursor: pointer;
  padding: 5px;
}

.container1 header .nav-sec2 {
  z-index: 1000 !important;
}

.container1 header .nav-sec2 a {
  text-decoration: none;
  color: white;
  border: none;
}

.container1 header .nav-sec2 #start {
  background-color: white;
  color: #ff525d;
}

.container1 header .nav-sec2 #start:hover {
  color: white;
  background-color: #ff525d;
}

.container1 main {
  position: relative;
  text-align: center;
  margin-top: 0vh;
  color: white;
}

.container1 main h1 {
  font-size: 4em;
}

.container1 main .main-butns {
  margin-top: 50px;
}

.container1 main .main-butns a {
  z-index: 1000 !important;
}

.container1 main .main-butns a:hover {
  color: #ff525d;
  background-color: white;
}

.container1 main .main-butns #start:hover {
  color: white;
  background-color: #ff8f70;
  border: solid 1px #ff8f70;
}

footer {
  background-color: #25252d;
  position: relative;
  bottom: 0;
  border-radius: 0 70px 0 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 120px;
  font-family: 'Ubuntu';
}

footer h6 {
  font-weight: 700;
  margin-bottom: 30px;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  font-weight: 500;
  margin: 10px 0;
  color: #c8c8cb;
  cursor: pointer;
}

footer ul li:hover {
  text-decoration: underline;
}

.attribution {
  background-color: #25252d;
  position: relative;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c8c8cb;
  padding: 20px;
}

.attribution a {
  border: none;
  padding: 0;
}

.attribution a:hover {
  background-color: #25252d;
  color: #ff3300;
}

@media only screen and (max-width: 900px) {
  .everything {
    display: -ms-grid;
    display: grid;
    max-width: 100vw;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    overflow-x: hidden;
    -ms-grid-rows: 1fr 0.1fr 0.9fr 0.9fr 1.6fr 1fr 1fr 0.6fr 0.1fr;
        grid-template-rows: 1fr 0.1fr 0.9fr 0.9fr 1.6fr 1fr 1fr 0.6fr 0.1fr;
        grid-template-areas: "cont1" "heading" "cont3" "cont2" "cont4" "cont7" "cont8" "footer" "attr";
  }
  .everything .heading {
    max-height: 5vh;
    margin: 0;
    padding: 10px;
    position: relative;
    z-index: 100000 !important;
  }
  .everything .heading h1 {
    font-weight: 500;
    font-size: 2em;
  }
  .everything .container3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .everything .container3 img {
    position: relative;
    top: 5vh;
    left: auto;
    max-width: 180%;
    margin: 0 auto;
  }
  .everything .container4 {
    max-height: 160vh;
  }
  .everything .container4 section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}
/*# sourceMappingURL=main.css.map */